{% extends "base_user_view.html" %}

{% block following %} class="is-active" {% endblock %}

{% block right_main_head %}Sách đang theo dõi{% endblock %}

{% block right_main %}
<div class="row info_page">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <p>Sách đang theo dõi: {{len}}</p>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-2"></div>
        </div>
    </div>
    {% for book in books.page %}
    <div class="col-md-12 boder_book_view">
        <div class="row" id="book_owner_view">
            <div class="col-md-2">
                <a href="{{url_for('book_routes.book', bid=book.bid)}}">
                    {% if book.photos %}
                    <img src="{{ url_for('static',filename='/image/book_photos/') + book.photos[0] }}" />
                    {% else %}
                    <img src="{{url_for('static',filename='/image/no_image.jpg')}}" />
                    {% endif %}
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{url_for('book_routes.book', bid=book.bid)}}">{{book.title}}</a>{% if not book.available %}<span> (Đã gỡ xuống)</span>{%endif%}<br /><br />
                <a href="{{url_for('book_routes.search_by_author', author=book.author)}}">{{book.author}}</a><br /><br />
                <a href="{{url_for('book_routes.search_by_year', year=book.publishyear)}}">{{book.publishyear}}</a><br /><br />
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2" style="text-align:center;">
                <a href="{{url_for('book_routes.unfollow', bid=book.bid)}}"><button class="btn btn-primary" style="font-size:16px">Bỏ theo dõi</button></a>
            </div>
        </div>
    </div>
    {% endfor %}

    {% if books.size %}
    <div>
        <ul id="page_nav">
            <li><a class="page_btn" href="{{url_for('user_routes.following', page=1)}}"><div> << </div></a></li>
            {% if books.pos > 1 %}
            <li><a class="page_btn" href="{{url_for('user_routes.following', page=books.pos-1)}}"><div> <  </div></a></li>
            {% if books.pos > 3 %}
            <li><a class="page_btn" href="{{url_for('user_routes.following', page=books.pos-3)}}"><div>{{books.pos-3}}</div></a></li>
            {% endif %}
            {% if books.pos > 2 %}
            <li><a class="page_btn" href="{{url_for('user_routes.following', page=books.pos-2)}}"><div>{{books.pos-2}}</div></a></li>
            {% endif %}
            <li><a class="page_btn" href="{{url_for('user_routes.following', page=books.pos-1)}}"><div>{{books.pos-1}}</div></a></li>
            {% endif %}

            <li><a class="page_btn active" href="{{url_for('user_routes.following', page=books.pos)}}"><div>{{books.pos}}</div></a></li>

            {% if books.pos < books.size %}
            <li><a class="page_btn" href="{{url_for('user_routes.following', page=books.pos+1)}}"><div>{{books.pos+1}}</div></a></li>
            {% if books.pos+1 < books.size %}
            <li><a class="page_btn" href="{{url_for('user_routes.following', page=books.pos+2)}}"><div>{{books.pos+2}}</div></a></li>
            {% endif %}
            {% if books.pos+2 < books.size %}
            <li><a class="page_btn" href="{{url_for('user_routes.following', page=books.pos+3)}}"><div>{{books.pos+3}}</div></a></li>
            {% endif %}
            <li><a class="page_btn" href="{{url_for('user_routes.following', page=books.pos+1)}}"><div> >  </div></a></li>
            {% endif %}
            <li><a class="page_btn" href="{{url_for('user_routes.following', page=books.size)}}"><div> >> </div></a></li>
        </ul>
    </div>
    {% endif %}

</div>

{% endblock %}