{% extends "layout.html" %}

{% block content %}

    <div class="row align-items-center justify-content-center main_background">
        <div class="col-lg-5 form">
            <div class="form_head">
                <h4>Lấy lại mật khẩu</h4>
                <p>Vui lòng nhập email nhận link lấy lại mật khẩu</p>
            </div>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="input">
                    {{ form.email(placeholder='acb@gmail.com')}}
                    {% for error in form.email.errors %}
                    <p style="color:red">{{ error }}</p>
                    {% endfor %}
                </div>
                {{ form.submit() }}
            </form>
        </div>
    </div>

{% endblock %}