{% extends "layout.html" %}

{% block content %}

    <div class="row align-items-center justify-content-center main_background">
        <div class="col-lg-5 form">
            <div class="form_head">
                <h4>Lấy lại mật khẩu</h4>
                <p>Nhập mật khẩu mới</p>
            </div>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="input">
                    {{ form.password(placeholder='Mật khẩu mới') }}
                    {% for error in form.password.errors %}
                    <p style="color: red;">{{ error }}. </p>
                    {% endfor %}
                </div>
                <div class="input">
                    {{ form.password2(placeholder='Gõ lại mật khẩu') }}
                    {% for error in form.password2.errors %}
                    <p style="color: red;">{{ error }}. </p>
                    {% endfor %}
                </div>
                {{ form.submit() }}
            </form>
        </div>
    </div>

{% endblock %}